section.volet {
    position: fixed;
    right: -274px;
    width: 274px;
    box-sizing: border-box;
    top: 1em;
    bottom: 1em;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: wheat;
    border: 3px solid brown;
    border-right: none;
    border-radius: .5em 0 0 .5em;
    transition: right 500ms;
    &.ouvert {
        right: 0px;
    }

    h1,
    h2,
    h3 {
        margin: 0;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.25rem;
        margin-top: .5rem;
    }
    figure {
        margin: 0;
    }

    img {
        width: 240px;
        height: 240px;
    }

    table {
        border: 3px solid black;
        border-width: 3px 0;
        width: 100%;
        border-collapse: collapse;
    }

    th {
        text-align-last: left;
    }

    tr:not(:first-child) {

        th,
        td {
            border-top: 1px solid black;
        }
    }
}