@import url(../images/seaweed_fire_aoe/style.css);
body {
  font-family: verdana;
  background-image: url(../images/fond.png);
  color: white;
}

div.interface {
  color: black;
  width: 760px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em 3em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  background-image: url(../images/poele.png);
  background-repeat: no-repeat;
  background-position: 20px -40px;
}
div.interface > header {
  font-weight: bold;
  padding: 0 0 22px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
div.interface > header > h1 {
  font-size: 60px;
  color: white;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: fire;
}
div.interface > header > h1 > * {
  font-size: 2em;
  color: #DE0000;
  vertical-align: middle;
  margin-left: 0.3em;
}
div.interface > footer {
  clear: both;
  border-top: 2px solid #DE0000;
  font-size: smaller;
  text-align: center;
}
div.interface > footer p {
  margin: 0;
}

section.milieu {
  display: flex;
  margin-bottom: 1em;
}
section.milieu > * {
  flex: 1 0 0;
}
section.milieu > aside, section.milieu > section {
  flex: 0 0 160px;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 1em;
}
section.milieu > aside nav, section.milieu > section nav {
  border-bottom: 1px solid black;
  font-weight: bold;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
section.milieu > aside nav a, section.milieu > section nav a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0.2em 0;
}
section.milieu > aside nav a:hover, section.milieu > section nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
section.milieu > aside nav h1,
section.milieu > aside nav h2,
section.milieu > aside nav h3,
section.milieu > aside nav h4,
section.milieu > aside nav h5,
section.milieu > aside nav h6,
section.milieu > aside nav header, section.milieu > section nav h1,
section.milieu > section nav h2,
section.milieu > section nav h3,
section.milieu > section nav h4,
section.milieu > section nav h5,
section.milieu > section nav h6,
section.milieu > section nav header {
  background-color: #DE0000;
  color: white;
  font-size: 18px;
  margin: 0 0 10px;
  text-align: center;
}
section.milieu > aside nav ul,
section.milieu > aside nav ol, section.milieu > section nav ul,
section.milieu > section nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
section.milieu > article p {
  text-align: justify;
}
section.milieu > article h1 {
  background-color: #DE0000;
  color: white;
  padding: 0.5em 0.5em;
  margin-top: 0;
  font-size: 1.5em;
  text-align: center;
}
section.milieu > article h2 {
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 0;
  color: #DE0000;
  border-bottom: 2px solid #DE0000;
}
section.milieu section.volet {
  position: fixed;
  right: -274px;
  width: 274px;
  box-sizing: border-box;
  top: 1em;
  bottom: 1em;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: wheat;
  border: 3px solid brown;
  border-right: none;
  border-radius: 0.5em 0 0 0.5em;
  transition: right 500ms;
}
section.milieu section.volet.ouvert {
  right: 0px;
}
section.milieu section.volet h1,
section.milieu section.volet h2,
section.milieu section.volet h3 {
  margin: 0;
}
section.milieu section.volet h1 {
  font-size: 2rem;
}
section.milieu section.volet h2 {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}
section.milieu section.volet figure {
  margin: 0;
}
section.milieu section.volet img {
  width: 240px;
  height: 240px;
}
section.milieu section.volet table {
  border: 3px solid black;
  border-width: 3px 0;
  width: 100%;
  border-collapse: collapse;
}
section.milieu section.volet th {
  -moz-text-align-last: left;
       text-align-last: left;
}
section.milieu section.volet tr:not(:first-child) th,
section.milieu section.volet tr:not(:first-child) td {
  border-top: 1px solid black;
}

li li {
  padding-left: 1em;
  font-size: smaller;
}

figure.photoprincipale {
  padding: 1em;
  background-color: white;
  color: #DE0000;
  text-align: center;
  box-shadow: 0 0 3em;
  margin: 2em auto;
  width: 400px;
}
figure > figcaption {
  font-weight: bold;
  font-size: smaller;
}
figure > img {
  border: 1px solid #DE0000;
  width: 100%;
}

p.intro {
  font-weight: bold;
  color: #DE0000;
  font-size: larger;
}

ul.ingredients {
  list-style-image: url("../images/poelepetite.png");
}

div.pub {
  text-align: center;
}/*# sourceMappingURL=recettes.css.map */