@import url(../images/seaweed_fire_aoe/style.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	--hue: 20;
	--sat: 100%;
	--couleur-principale: hsl(var(--hue), var(--sat), 40%);
	--couleur-principale-foncee: hsl(var(--hue), var(--sat), 20%);
	height: 100%;
	// font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-family: 'Playfair Display', sans-serif;
}

body {
	height: 100%;
	background-image: url(../images/feu.webp);
	background-color: var(--couleur-principale);
	color: white;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
	font-family: 'Raleway', sans-serif;
	line-height: 1;
}

div.interface {
	min-height: 100%;
	color: black;
	width: 760px;
	margin: 1em auto;
	background-color: rgba(255, 255, 255, .8);
	border: 1px solid black;
	border-radius: 1em;
	padding: 1em 3em;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
	background-image: url(../images/poele.png);
	background-repeat: no-repeat;
	background-position: 20px -40px;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1em;

	> header {
		font-weight: bold;
		padding: 0 0 22px;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
		grid-column: 1 / -1;
	}

	> header > h1 {
		font-size: 60px;
		color: white;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		font-family: fire;

		> * {
			font-size: 2em;
			color: var(--couleur-principale);
			vertical-align: middle;
			margin-left: .3em;
		}
	}

	> footer {
		clear: both;
		border-top: 4px solid var(--couleur-principale);
		font-size: smaller;
		text-align: center;
		padding-top: .5em;
		margin-top: 1em;
		grid-column: 1 / -1;

		a {
			color: inherit;
		}

		p {
			margin: 0;
		}
	}

}

.colonne {
	background-color: hsl(var(--hue), var(--sat), 10%, .1);
	padding: .5rem;
	@import "nav";
}

@import "volet";
@import "recette";

div.pub {
	text-align: center;
}